.container {
    width: 300px;
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    border: 1px solid #000;
    border-radius: 1rem;
    cursor: pointer;
}

.container img {
    margin: auto;
    width: 200px;
    height: 200px;
}